.cart-top {
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: cornsilk;
  background-clip: border-box;
  position: inherit;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.items {
  margin: 0px 15px;
  text-align: center;
}
.items img {
  width: 65px;
}
.items a:hover {
  color: blue;
}
.itemdata {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}
.card {
  padding: 20px;
  margin: 40px;
}
.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}
.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
