<ng-container *ngIf="products.length !=0">
  <div class="container">
    <div class="card-table">
      <div class="card-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.no</th>
              <th>Nome do Produto</th>
              <th>Imagem do Produto</th>
              <th>Descrição</th>
              <th>Price</th>
              <th>Quantidade</th>
              <th>Total</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products, let i = index">
              <td>{{i+1}}</td>
              <td>{{item.title}}</td>
              <td> <img src="{{item.image}}" style="width:120px ;" alt=""> </td>
              <td style="width: 20%;">{{item.description}}</td>
              <td style="width: 10%;">{{item.prince}}</td>
              <td style="width: 10%;">{{item.quantity}}</td>
              <td style="width: 10%;">{{item.total}}</td>
              <td> <button (click)="removeProduct(item)" class="btn btn-danger"> <i class="fas fa-trash"></i>
                </button> </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td> <button (click)="removeAllProduct()" class="btn btn-danger">Carrinho Vazio</button> </td>
              <td><button routerLink="/products" class="btn btn-warning">Comprar mais</button></td>
              <td><button class="btn btn-success">Verificação de saída</button></td>
              <td> <strong>Total:
                  <br>R${{allProducts}}</strong> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>



<ng-container *ngIf="products.length ==0">
  <div class="container">
    <div class="card">
      <h4 class="card-title">Meu carrinho</h4>
    </div>
    <div class="center">
      <img src="https://cdn.pixabay.com/photo/2014/04/03/10/00/shopping-cart-309592_960_720.png" alt="">
      <h5>Seu carrinho está vazio!</h5>
      <h6>Adicionar item a ele agora</h6>
      <button routerLink="/products" class="btn btn-primary">Compre agora</button>
    </div>
  </div>
</ng-container>
